/.env
/.venv
/__pycache__
/debug_tokens.py
/latency_log_baseline.json
/latency_log_megakernel.json
/latency_log_megakernel_step3.json
/latency_log_vllm_c1.json
/latency_log_vllm_nothink.json
/megakernel_nsys.nsys-rep
/megakernel_nsys_full.nsys-rep
/profile_generate.py
/profile_megakernel.py
/qwen_megakernel_C.cpython-312-x86_64-linux-gnu.so
/vllm_full.nsys-rep
/vllm_server_profile2.nsys-rep
/vllm_server_profile_100.nsys-rep
/vllm_single_v3.nsys-repModel/*.safetensors
Model/*.bin
